<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="images/logo.png" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="" class="navbar-wagon-item navbar-wagon-link">NOS DIM SUM</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">FOODTRUCK</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">TRAITEUR</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">CHOISIR VAPEURS</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">CLIENTS</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">CONTACT</a>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">NOS DIM SUM</a></li>
        <li><a href="#">FOODTRUCK</a></li>
        <li><a href="#">TRAITEUR</a></li>
        <li><a href="#">CHOISIR VAPEURS</a></li>
        <li><a href="#">CLIENTS</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="dimsum">

  <div class="nosdimsum">
    <div class="w3-content w3-section">
      <img class="mySlides" src="<%= image_path '1.jpg' %>" style="width:100%">
      <img class="mySlides" src="<%= image_path '2.jpg' %>" style="width:100%">
      <img class="mySlides" src="<%= image_path '3.jpg' %>" style="width:100%">
      <img class="mySlides" src="<%= image_path '4.jpg' %>" style="width:100%">
    </div>
    <script>
      var myIndex = 0;
      carousel();

      function carousel() {
          let i;
          const x = document.getElementsByClassName("mySlides");
          for (i = 0; i < x.length; i++) {
             x[i].style.display = "none";
          }
          myIndex++;
          if (myIndex > x.length) {myIndex = 1}
          x[myIndex-1].style.display = "block";
          setTimeout(carousel, 3000); // Change image every 2 seconds
      }
    </script>
    <div class="text-nos-dim-sum">
      <p class="title"><strong>À PROPOS</strong></p>
      <p>VAPEURS, c’est LE nouveau concept de Dim Sum à Paris !</p>
      <p>Une carriole revisitée, entièrement dédiée au Dim Sum.</p>
      <p>Des Dim Sum élaborés en collaboration avec notre chef à base de produits frais et cuits sur place pour tous vos évènements.</p>
      <p>Dans la plus pure tradition de la cuisine de rue asiatique, notre carriole s'adapte en intérieur comme en extérieur pour offrir à vos invités une véritable expérience culinaire.</p>
    </div>
  </div>
  <div class="nosdimsum">
    <div class="w3-content w3-section">
      <img class="mySlides2" src="<%= image_path '1.jpg' %>" style="width:100%">
      <img class="mySlides2" src="<%= image_path '2.jpg' %>" style="width:100%">
      <img class="mySlides2" src="<%= image_path '3.jpg' %>" style="width:100%">
      <img class="mySlides2" src="<%= image_path '4.jpg' %>" style="width:100%">
    </div>
    <script>
      var myIndex = 0;
      carousel();

      function carousel() {
          let i;
          const x = document.getElementsByClassName("mySlides2");
          for (i = 0; i < x.length; i++) {
             x[i].style.display = "none";
          }
          myIndex++;
          if (myIndex > x.length) {myIndex = 1}
          x[myIndex-1].style.display = "block";
          setTimeout(carousel, 3000); // Change image every 2 seconds
      }
    </script>
    <div class="text-nos-dim-sum">
      <p class="title"><strong>À PROPOS</strong></p>
      <p>VAPEURS, c’est LE nouveau concept de Dim Sum à Paris !</p>
      <p>Une carriole revisitée, entièrement dédiée au Dim Sum.</p>
      <p>Des Dim Sum élaborés en collaboration avec notre chef à base de produits frais et cuits sur place pour tous vos évènements.</p>
      <p>Dans la plus pure tradition de la cuisine de rue asiatique, notre carriole s'adapte en intérieur comme en extérieur pour offrir à vos invités une véritable expérience culinaire.</p>
    </div>
  </div>
  <div class="nosdimsum">
    <div class="w3-content w3-section">
      <img class="mySlides3" src="<%= image_path '1.jpg' %>" style="width:100%">
      <img class="mySlides3" src="<%= image_path '2.jpg' %>" style="width:100%">
      <img class="mySlides3" src="<%= image_path '3.jpg' %>" style="width:100%">
      <img class="mySlides3" src="<%= image_path '4.jpg' %>" style="width:100%">
    </div>
    <script>
      var myIndex = 0;
      carousel();

      function carousel() {
          let i;
          const x = document.getElementsByClassName("mySlides3");
          for (i = 0; i < x.length; i++) {
             x[i].style.display = "none";
          }
          myIndex++;
          if (myIndex > x.length) {myIndex = 1}
          x[myIndex-1].style.display = "block";
          setTimeout(carousel, 3000); // Change image every 2 seconds
      }
    </script>
    <div class="text-nos-dim-sum">
      <p class="title"><strong>À PROPOS</strong></p>
      <p>VAPEURS, c’est LE nouveau concept de Dim Sum à Paris !</p>
      <p>Une carriole revisitée, entièrement dédiée au Dim Sum.</p>
      <p>Des Dim Sum élaborés en collaboration avec notre chef à base de produits frais et cuits sur place pour tous vos évènements.</p>
      <p>Dans la plus pure tradition de la cuisine de rue asiatique, notre carriole s'adapte en intérieur comme en extérieur pour offrir à vos invités une véritable expérience culinaire.</p>
    </div>
  </div>
  <div class="nosdimsum">
    <div class="w3-content w3-section">
      <img class="mySlides4" src="<%= image_path '1.jpg' %>" style="width:100%">
      <img class="mySlides4" src="<%= image_path '2.jpg' %>" style="width:100%">
      <img class="mySlides4" src="<%= image_path '3.jpg' %>" style="width:100%">
      <img class="mySlides4" src="<%= image_path '4.jpg' %>" style="width:100%">
    </div>
    <script>
      var myIndex = 0;
      carousel();

      function carousel() {
          let i;
          const x = document.getElementsByClassName("mySlides4");
          for (i = 0; i < x.length; i++) {
             x[i].style.display = "none";
          }
          myIndex++;
          if (myIndex > x.length) {myIndex = 1}
          x[myIndex-1].style.display = "block";
          setTimeout(carousel, 3000); // Change image every 2 seconds
      }
    </script>
    <div class="text-nos-dim-sum">
      <p class="title"><strong>À PROPOS</strong></p>
      <p>VAPEURS, c’est LE nouveau concept de Dim Sum à Paris !</p>
      <p>Une carriole revisitée, entièrement dédiée au Dim Sum.</p>
      <p>Des Dim Sum élaborés en collaboration avec notre chef à base de produits frais et cuits sur place pour tous vos évènements.</p>
      <p>Dans la plus pure tradition de la cuisine de rue asiatique, notre carriole s'adapte en intérieur comme en extérieur pour offrir à vos invités une véritable expérience culinaire.</p>
    </div>
  </div>
  <div class="nosdimsum">
    <div class="w3-content w3-section">
      <img class="mySlides5" src="<%= image_path '1.jpg' %>" style="width:100%">
      <img class="mySlides5" src="<%= image_path '2.jpg' %>" style="width:100%">
      <img class="mySlides5" src="<%= image_path '3.jpg' %>" style="width:100%">
      <img class="mySlides5" src="<%= image_path '4.jpg' %>" style="width:100%">
    </div>
    <script>
      var myIndex = 0;
      carousel();

      function carousel() {
          let i;
          const x = document.getElementsByClassName("mySlides5");
          for (i = 0; i < x.length; i++) {
             x[i].style.display = "none";
          }
          myIndex++;
          if (myIndex > x.length) {myIndex = 1}
          x[myIndex-1].style.display = "block";
          setTimeout(carousel, 3000); // Change image every 2 seconds
      }
    </script>
    <div class="text-nos-dim-sum">
      <p class="title"><strong>À PROPOS</strong></p>
      <p>VAPEURS, c’est LE nouveau concept de Dim Sum à Paris !</p>
      <p>Une carriole revisitée, entièrement dédiée au Dim Sum.</p>
      <p>Des Dim Sum élaborés en collaboration avec notre chef à base de produits frais et cuits sur place pour tous vos évènements.</p>
      <p>Dans la plus pure tradition de la cuisine de rue asiatique, notre carriole s'adapte en intérieur comme en extérieur pour offrir à vos invités une véritable expérience culinaire.</p>
    </div>
  </div>
  <div>
    <img class="" src="<%= image_path 'companies.jpg' %>" style="width:100%">
  </div>
</div>
<div class="nosdimsum-form">
  <div class="form-text">
    <h2 class="">CONTACT</h2>
    <p>Pour toute demande de devis, de partenariat, d’information sur les produits ou si vous souhaitez rejoindre l’aventure, merci d'utiliser le formulaire suivant :</p>
  </div>
  <div class="form-picture">
    <div class="form">
      <form action="https://formspree.io/come.mlr@mail.com"
            method="POST">
          <input type="text" name="name" placeholder='ENTREZ UN NOM'>
          <input type="text" name="name" placeholder="ENTREZ L'ADDRESSE E-MAIL">
          <input type="email" name="_replyto" placeholder="ENTREZ VOTRE MESSAGE">
          <input type="submit" value="ENVOYER">
      </form>
    </div>
    <img class="" src="<%= image_path 'photo_contact.jpg' %>" style="width:100%">
  </div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <span> Mentions légales </span>
    <br>
    <span> Tous droits réservés 2017 </span>
  </div>
</div>
